.task {
	background-color: #F0F2F5;
	border-bottom: 1px solid #BAC4CF;
	padding: 10px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 12px;
}

.task__container {
	display: flex;
	align-items: center;
}

.task__container>input {
	display: none;
}

.task__custom-checkbox {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid #ADC2D6;
	cursor: pointer;
	border-radius: 2px;
}

.task__container>input:checked+.task__custom-checkbox {
	background-color: #007bff;
	border-color: #007bff;
	background-image: url(../public/check-svgrepo-com.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px;
}

.task__title {
	margin-left: 10px;
}

.task__buttons {
	display: flex;
	gap: 10px;
}

.task__button {
	border-radius: 6px;
	border: none;
	padding: 10px;
	background-color: #BFC3C8;
}

.task__button:hover {
	cursor: pointer;
	opacity: .6;
}